@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .center-bottom-md {
    @apply fixed bottom-0 transform -translate-x-1/2 left-1/2;
  }
  .highlight {
    @apply p-1 m-0.5 bg-blue-600  text-white shadow-sm rounded-xl;
  }
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg); /* 100% 시점에 회전을 완료 */
  }
}

.rotate-animation {
  animation: rotate 1s cubic-bezier(0.9, 0.15, 0.5, 1.6) forwards; /* 'forwards' 추가 */
}
